{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
<div class="container">
  <div class="card my-4" style="padding:20px;">
    <div class="" style="text-align:center;">
      <h3>Login</h3>
    </div><hr>
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Need an account? <a href="">Register here.</a></p>
    <a href="">Forgot password?</a><br>
    <button type="submit" name="button" class="btn btn-success">Login</button>
  </form>
  </div>
  </div>
{% endblock %}
